<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Maru+Gothic&display=swap');

    /* body, h1, h2, h3, h4, h5, h6, p, a, li, div, th, td {
        font-family: 'Zen Kaku Gothic', sans-serif;
    } */
    body, h1, h2, h3, h4, h5, h6, p, section a, li, div, th, td {
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        letter-spacing: -0.02em;
    }
    header h1 {
        font-family: "Arvo";
    }
    a {
        font-weight: 400;
    }
    table {
        border-collapse: collapse;
        border: none;
    }
    th {
        font-size: inherit;
        padding: 4px 8px;
    }
    td {
        background: transparent;
        border-bottom: 1px solid #232323;
        padding: 6px 8px;
        line-height: 160%;
    }
    tr:not(:last-child) td {
        border-bottom-style: dotted;
    }
    section ul ul {
        margin-bottom: 0;
    }

    .project-list li small {
        display: inline-block;
        font-size: 12px;
    }
    .project-list a.button {
        background: #333;
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        line-height: 22px;
        margin-left: 4px;
        padding: 0 8px 2px 8px;
    }
</style>